<div  align="center">
  <p class="cartHeading">
    <h1>Shopping Cart</h1>
  </p>
  <div ng-model="itemsInCart" ng-show="itemsInCart.length===0">
    <img src="images/cart-empty.jpg" width="400px"/>

  </div>
  <div ng-show="itemsInCart.length===0">
    <a ui-sref="home.dashboard">
    <md-button class="md-primary md-raised">Continue Shopping</md-button>
  </a>
</div>
  </div>
</div>


<!-- <div  ng-hide ="itemsInCart.length===0">
  <div ng-show="itemsInCart.length>=0"> -->

<div ng-if="itemsInCart">
  <div class="row" ng-hide="itemsInCart.length===0">
    <div class="col-sm-4"></div>
    <div class="col-sm-2">
      <h4>Price</h4></div>
    <div class="col-sm-2">
      <h4>Quantity</h4></div>
    <div class="col-sm-2">
      <h4>SubTotal</h4></div>
    <div class="col-sm-2">
      <h4>Remove</h4></div>
  </div>


<ul class="list-group">
  <li class="list-group-item" ng-repeat="product in itemsInCart">
    <div class="row">
      <div class="col-sm-2">
        <img ng-src="{{ product.image.small}}" alt="image caption" style="width: 150px;">
      </div>
      <div class="col-sm-2">
        <h4><b>{{product.name}}</b></h4>

      </div>
      <div class="col-sm-2">
        <h4>{{product.price | currency}}</h4></div>
      <div class="col-sm-2">
        <select ng-options="option for option in listForQuantity" ng-model="selectedMobile" ng-change="selectChanged(product,selectedMobile)" ng-init="selectChanged(product,1)">
         </select>
      </div>

      <div class="col-sm-2">
        <h4>{{product.sum | currency}}</h4>

      </div>
      <div class="col-sm-2">
        <md-button class="md-warn" ng-click="removeItemFromCart(product)">
          <md-icon><i class="material-icons">remove_shopping_cart</i></md-icon>
      </div>

      </div>
      <!-- <div class="col-sm-2">
        <md-button class="md-warn" ng-click="removeItemFromCart(product)">
          <md-icon><i class="material-icons">remove_shopping_cart</i></md-icon>
      </div> -->
    </div>
  </li>

</ul>
<div ng-hide="itemsInCart.length===0">
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <h4><b>TotalPrice</b></h4></div>
  <div class="col-sm-2">
    <h4>{{total1 |currency }}</h4></div>
    <div ng-show="itemsInCart.length>=0">
      <a ui-sref="home.dashboard">
      <md-button class="md-primary md-raised">Continue Shopping</md-button>
    </a>
  </div>
</div>
</div>
