<!-- /**********************************************************************************
 *  Purpose         : Home page for the mobile app
 *  @file           : Home.html
 *  @author         : Madhuri chaudhari
 *  @version        : 1.0
 *  @since          : 16-04-2018
 **********************************************************************************/ -->
<navbar></navbar>
<sidebar></sidebar>
<ui-view></ui-view>
<!-- $scope.toggle = function(category,keyword) {
    switch (category) {
      case 'manufacturer':
        switchCaseFunction(manufacturer,keyword)
        break;
      case 'storage':
        switchCaseFunction(storage,keyword)
        break;
      case 'os':
        switchCaseFunction(os,keyword)
        break;
      case 'camera':
        switchCaseFunction(camera,keyword)
        break;
    }
  };
  $scope.arrManufacturer = manufacturer;
  $scope.arrStorage = storage;
  $scope.arrOs = os;
  $scope.arrCamera = camera;

});
switchCaseFunction=function(array,keyword)
{
  var indexm = array.indexOf(keyword);
  if (indexm > -1) {
    array.splice(indexm, 1);
  } else {
    array.push(keyword);
  }
} -->
